# Importing Libraries

In [1]:
import pandas as pd
import numpy as np 
import os

# Importing Data

In [2]:
# Creating a path to project folder

path = r'C:\Users\TanaT\(CF) Achievement 4 - Instacart Basket Analysis'

In [5]:
# Importing cleaned orders data as a dataframe

df_ords = pd.read_csv(os.path.join(path, '02 Data','Prepared Data', 'cleaned_orders_data.csv'), index_col = False)

In [6]:
# Importing new data - contains common column with products data ('product_id' column) 
## Merging this data with orders data

df_ords_prior = pd.read_csv(os.path.join(path, '02 Data','Original Data', 'orders_products_prior.csv'), index_col = False)

# Checking Dataframes

In [7]:
# Checking orders_products_prior data

df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [8]:
# Checking orders data

df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [9]:
# Dropping the 'Unnamed: 0' column from orders data and overwriting original dataframe to keep changes.

df_ords.drop('Unnamed: 0', axis=1, inplace=True)

In [10]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [11]:
df_ords.shape

(3421083, 6)

In [12]:
df_ords_prior.shape

(32434489, 4)

# Merging Dataframes

In [13]:
# Merging dataframes on their common column ('order_id) and adding a flag column to check for a full match
## Using default option of inner join - gives table of observations found in both dataframes

df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [14]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [15]:
# Counting the values in the merge column (to get merge flag frequency)

df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [16]:
df_merged_large.shape

(32434489, 10)

# Exporting Data

In [18]:
# Exporting fixed orders data 

df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'cleaned_orders_data.csv'))

In [17]:
# Exporting merged data as a pickle 

df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))