# Importing Libraries

In [2]:
import pandas as pd
import numpy as np
import os

# Importing Data

## Step 3 - Import analysis libraries and new customer data set as a dataframe.

In [3]:
# Creating path to project folder.

path = r'C:\Users\TanaT\(CF) Achievement 4 - Instacart Basket Analysis'

In [4]:
# Importing new customers data. 

df_customers = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'), index_col = False)

In [5]:
# Checking dataframe - columns and types of data.

df_customers.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [6]:
# Checking shape.

df_customers.shape

(206209, 10)

In [7]:
# Checking data types, possibly missing values. 

df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  int64
 1   First Name    194950 non-null  object
 2   Surnam        206209 non-null  object
 3   Gender        206209 non-null  object
 4   STATE         206209 non-null  object
 5   Age           206209 non-null  int64
 6   date_joined   206209 non-null  object
 7   n_dependants  206209 non-null  int64
 8   fam_status    206209 non-null  object
 9   income        206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

Could have issues with first names. Looks like there are missing values.

## Step 4 - Wrangle the data so that it follows consistent logic. For example, rename columns and drop columns that don't add anything to your analysis.

### Data Wrangling - Renaming Columns

In [8]:
# Making column format consistent - changing all to lower case and changing any illogical names. 

df_customers.rename(columns = {'First Name':'first_name', 'Surnam':'last_name', 'Gender':'gender', 'STATE':'state', 'Age':'age'}, inplace=True)

In [9]:
# Checking column names. 

df_customers.columns

Index(['user_id', 'first_name', 'last_name', 'gender', 'state', 'age',
       'date_joined', 'n_dependants', 'fam_status', 'income'],
      dtype='object')

### Data Wrangling - Changing Data Types

In [10]:
# Changing 'user_id' column data type from integer to object. 

df_customers['user_id'] = df_customers['user_id'].astype('str')

In [11]:
# Checking data type.

df_customers['user_id'].dtype

dtype('O')

In [12]:
# Checking dataframe after changes.

df_customers.head()

,user_id,first_name,last_name,gender,state,age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

### End of data wrangling - No dropped columns and no need to transpose dataframe.

## Step 5 - Complete the fundamental data quality and consistency checks. For example, check for and address missing values and duplicates, and convert any mixed-type data.

### Checking dataframe for missing values.

In [13]:
# Checking entire dataframe for any missing values. 

df_customers.isnull().sum()

user_id             0
first_name      11259
last_name           0
gender              0
state               0
age                 0
date_joined         0
n_dependants        0
fam_status          0
income              0
dtype: int64

### Checking for Mixed-Type Columns

In [14]:
# Checking for any mixed-type columns first, before addressing these possibly missing values.  

for col in df_customers.columns.tolist():
  weird = (df_customers[[col]].map(type) != df_customers[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_customers[weird]) > 0:
    print (col)

first_name

In [15]:
# When previously checked using .info(), the data type for 'first_name' appeared to be 'object', but now know this is a mixed-type column.

df_customers['first_name'].head(50)

0         Deborah
1        Patricia
2         Kenneth
3        Michelle
4             Ann
5         Cynthia
6           Chris
7          Joseph
8          Jeremy
9           Shawn
10         Gloria
11          Roger
12        Cynthia
13      Stephanie
14          Peter
15        Brandon
16            Amy
17          Brian
18         Victor
19        Patrick
20          Randy
21          Wanda
22         Sandra
23         Martha
24          Shawn
25          Wayne
26        Charles
27           Ruth
28       Kimberly
29       Kimberly
30          Steve
31           Carl
32       Nicholas
33        Stephen
34           Lisa
35           Judy
36          Doris
37        Barbara
38           Adam
39          Terry
40          Marie
41        Rebecca
42        Lillian
43        Kathryn
44        Shirley
45        Douglas
46    Christopher
47        Brandon
48          Craig
49          Jimmy
Name: first_name, dtype: object

In [16]:
# Didn't see anything strange in the first 50 rows, but changing the 'first_name' column to be a string (since it shouldn't contain numbers).

df_customers['first_name'] = df_customers['first_name'].astype('str')

In [17]:
df_customers['first_name'].dtype

dtype('O')

In [18]:
# Checking the dataframe again for any mixed-type columns and checking if the change was successful. 

for col in df_customers.columns.tolist():
  weird = (df_customers[[col]].map(type) != df_customers[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_customers[weird]) > 0:
    print (col)

No mixed-type columns found in second round of checks.

### Addressing Missing Values

In [20]:
# Checking for missing values again. 

df_customers.isnull().sum()

user_id         0
first_name      0
last_name       0
gender          0
state           0
age             0
date_joined     0
n_dependants    0
fam_status      0
income          0
dtype: int64

No missing values found after fixing the mixed-type column.

In [21]:
# Checking basic statistics. 

df_customers.describe()

                 age   n_dependants         income
count  206209.000000  206209.000000  206209.000000
mean       49.501646       1.499823   94632.852548
std        18.480962       1.118433   42473.786988
min        18.000000       0.000000   25903.000000
25%        33.000000       0.000000   59874.000000
50%        49.000000       1.000000   93547.000000
75%        66.000000       3.000000  124244.000000
max        81.000000       3.000000  593901.000000

These numbers look reasonable/plausible, no value seems to be extreme.

### Checking for Duplicates

In [22]:
# Checking entire dataframe for any duplicates.
# Making a new dataframe that only contains any duplicates. 

df_dups = df_customers[df_customers.duplicated()]

In [23]:
df_dups

Empty DataFrame
Columns: [user_id, first_name, last_name, gender, state, age, date_joined, n_dependants, fam_status, income]
Index: []

No duplicates in any of the columns were found/none to fix.

### End of data consistency checks

## Step 6 - Combine your customer data with the rest of your prepared Instacart data.

In [25]:
# Importing merged data.

df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data', 'updated_grouped_agg_orders_products_merged.pkl'))

In [26]:
# Checking the dataframe to see which column to merge on. 

df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_product_price,spending_flag,median_days_between_orders,ordering_behavior_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,Mid-range product,Regular busy,Regularly busy,Most orders,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,Mid-range product,Regular busy,Regularly busy,Average orders,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer,7.930208,Low spender,8.0,Frequent customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,Mid-range product,Regular busy,Slowest days,Most orders,3,New customer,4.972414,Low spender,9.0,Frequent customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,Mid-range product,Least busy,Slowest days,Average orders,3,New customer,4.972414,Low spender,9.0,Frequent customer

 - Both dataframes contain 'user_id' column. Will use this to merge/combine the customer and merged dataframe.
 - Merge will be used because the two dataframes are not the same size and they share a common column.

### Checking 'user_id' Column in Both Dataframes.

#### Checking and Addressing Data Types

In [27]:
df_ords_prods_merge['user_id'].dtype

dtype('int64')

In [28]:
# Need to change the data type to match the data type in customer data. 
# Changing 'user_id' data type from integer to string to match customer data. 

df_ords_prods_merge['user_id'] = df_ords_prods_merge['user_id'].astype('str')

In [29]:
df_ords_prods_merge['user_id'].dtype

dtype('O')

In [30]:
df_customers['user_id'].dtype

dtype('O')

#### Checking number of values in the 'user_id' column for both dataframes.

In [31]:
df_customers['user_id'].nunique()

206209

In [32]:
df_ords_prods_merge['user_id'].nunique()

206209

### Merging Data

In [33]:
# Merging data on common column ('user_id').

df_cust_merge = df_ords_prods_merge.merge(df_customers, on = 'user_id', indicator = 'merge_status')

In [34]:
df_cust_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,first_name,last_name,gender,state,age,date_joined,n_dependants,fam_status,income,merge_status
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,Deborah,Glass,Female,Vermont,66,6/16/2018,2,married,158302,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,Heather,Myers,Female,Wisconsin,40,2/9/2020,3,married,31308,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,Heather,Myers,Female,Wisconsin,40,2/9/2020,3,married,31308,both

In [35]:
# Checking shape of new merged dataframe.

df_cust_merge.shape

(32404859, 34)

In [36]:
# Checking merge rate.
# Not going to run an 'outer' merge to check if this is true (due to memory).
# Already know from the reading in 4.6 that we will only be working with data sets that have a full merge rate. 

df_cust_merge['merge_status'].value_counts()

merge_status
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [37]:
# Checking newly merged dataframe again before exporting. 

df_cust_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32404859 entries, 0 to 32404858
Data columns (total 34 columns):
 #   Column                      Dtype
---  ------                      -----
 0   product_id                  int64
 1   product_name                object
 2   aisle_id                    int64
 3   department_id               int64
 4   prices                      float64
 5   order_id                    int64
 6   user_id                     object
 7   order_number                int64
 8   orders_day_of_week          int64
 9   order_hour_of_day           int64
 10  days_since_prior_order      float64
 11  add_to_cart_order           int64
 12  reordered                   int64
 13  _merge                      category
 14  price_range_loc             object
 15  busiest_day                 object
 16  busiest_days                object
 17  busiest_period_of_day       object
 18  max_order                   int64
 19  loyalty_flag                object
 20  avg_product_price           float64
 21  spending_flag               object
 22  median_days_between_orders  float64
 23  ordering_behavior_flag      object
 24  first_name                  object
 25  last_name                   object
 26  gender                      object
 27  state                       object
 28  age                         int64
 29  date_joined                 object
 30  n_dependants                int64
 31  fam_status                  object
 32  income                      int64
 33  merge_status                category
dtypes: category(2), float64(4), int64(13), object(15)
memory usage: 7.8+ GB

## Step 8 - Export this new dataframe as a pickle file so you can continue to use it in the second part of this task.

In [38]:
# Exporting new merged data with customer information as a pickle. 

df_cust_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'customer_and_merged.pkl'))